body {
    font-family:'Calibri', sans-serif;
}

b {
    color: rgb(96, 111, 149);
}

i {
    font-size: 12px;
    line-height: 16px;
}
.main {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    color: #422d9f;
}

pre {
    font-family:'Calibri', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.first-text {
    margin-left: 30px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    max-width: 700px;
    height: fit-content;
}

.class {
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 30px;
    background-color: #f5f5f5;
    max-width: 380px;
    height: 210px;
    font-family:'Calibri', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.inner {
    margin-left: 20px;
}

.inner span {
    margin-left: 1px;
    background-color: #dbdbdb;
    padding: 0 7px;
    font-size: 28px;
    line-height: 32px;
}

p {
    margin-left: 20px;
}

.red {
    color:rgb(156, 55, 55);
}

.bio {
    background-color: #f5f5f5;
    margin-top: 40px;
    margin-left: 30px;
    max-width: 380px;
    height: 120px;
}

.bio-text {
    padding-top: 15px;
}

.second-text {
    margin-left: 30px;
    padding: 5px 10px;
    max-width: 700px;
    background-color: #f5f5f5;
    height: fit-content;
}

.html-tutorial {
    font-size: 18px;
    line-height: 22px;
    white-space: normal;
}

.html-tutorial span {
    background-color: #e3e3e3;
    color: red;
    font-size: 18px;
    line-height: 22px;

}

h1,h2 {
display: flex;
    justify-content: center;
}

.program {
    padding: 5px 10px;
    max-width: 650px;
    background-color: #e3e3e3;
    height: fit-content;
} 

.menu span {
    background-color: #e3e3e3;
    color: rgb(47, 172, 176);
}